<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="fragments/layout :: headFragment(title=${title})"></head>
<body>

<div data-th-replace="fragments/layout :: navbarFragment"></div>

<div class="w-container body">
    <div class="row">

        <div class="col-10 col-xl-9 order-md-1 order-xl-1 pr-xl-0" data-th-each="competition: ${competitions}">

            <div class="card mt-3 mb-3">
                <img class="card-img-top" data-th-if="${competition.getType().name() == 'IMAGE'}"
                     data-th-src="@{/media/{file}(file=${competition.getMedia()})}">

                <div class="card-body">
                    <h5 class="card-title">[[ ${competition.getName()} ]]</h5>
                    <audio data-th-if="${competition.getType().name() == 'AUDIO'}"
                           data-th-src="@{/media/{file}(file=${competition.getMedia()})}" controls></audio>
                    <div class="embed-responsive embed-responsive-16by9"
                         data-th-if="${competition.getType().name() == 'VIDEO'}">
                        <video class="embed-responsive-item"
                               data-th-src="@{/media/{file}(file=${competition.getMedia()})}" controls></video>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col" align="center">
            <h3 class="mb-3" data-th-if="${competitions.size() == 0}">Добавьте фото для участия в конкурсе</h3>
            <a data-th-href="@{/competitions/add-form}" class="btn btn-primary">Добавить</a>
        </div>
    </div>

</div>

<div class="w-container footer">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">

                <p class="pt-1 pb-0 mb-2">
                    г. Казань, ул. Баумана, д.38
                    <br>
                    тел.: 8(843)111-11-11
                    <br>
                    &copy 2019
                </p>

            </nav>
        </div>
    </div>
</div>


</body>
</html>