<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="fragments/layout :: headFragment(title=${title})"></head>
<body>

<div data-th-replace="fragments/layout :: navbarFragment"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Добавьте фото</h1>
            <form data-th-action="@{/competitions/add-form}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="name">Название заметки</label>
                    <input name="name" type="text" class="form-control" id="name">
                </div>
                <div class="custom-file">
                    <input name="media" type="file" class="custom-file-input" id="media" required>
                    <label class="custom-file-label" for="media">Выберите файл...</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Вперед</button>
            </form>
        </div>
    </div>
</div>

<div class="w-container footer">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">

                <p class="pt-1 pb-0 mb-2">
                    г. Казань, ул. Баумана, д.38
                    <br>
                    тел.: 8(843)111-11-11
                    <br>
                    &copy 2019
                </p>

            </nav>
        </div>
    </div>
</div>


</body>
</html>