<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="fragments/layout :: headFragment(title=${title})"></head>
<body>

<div data-th-replace="fragments/layout :: navbarFragment"></div>

<div class="container body">
    <div class="row">

        <div class="col-sm-9">

            <div class="row">
                <div class="col" align="center" data-th-each="competition: ${competitions}">

                    <div class="card mt-3 mb-3">
                        <img class="card-img-top" data-th-if="${competition.getType().name() == 'IMAGE'}"
                             data-th-src="@{/media/{file}(file=${competition.getMedia()})}">

                        <div class="card-body">
                            <h5 class="card-title">[[ ${competition.getName()} ]]</h5>
                            <audio data-th-if="${competition.getType().name() == 'AUDIO'}"
                                   data-th-src="@{/media/{file}(file=${competition.getMedia()})}" controls></audio>
                            <div class="embed-responsive embed-responsive-16by9"
                                 data-th-if="${competition.getType().name() == 'VIDEO'}">
                                <video class="embed-responsive-item"
                                       data-th-src="@{/media/{file}(file=${competition.getMedia()})}" controls></video>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col" align="center">
                    <h3 class="mb-3" data-th-if="${competitions.size() == 0}">Добавьте фото для участия в конкурсе</h3>
                    <a data-th-href="@{/competitions/add-form}" class="btn"
                       style="background-color: rgba(255, 0, 255, 1);">Добавить</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="background-color: rgba(150, 200, 0, 1); border-radius: 0.55rem 0.55rem 0.55rem 0.55rem">

            <div data-th-replace="/fragments/layout :: hotlineFragment"></div>

        </div>

    </div>

</div>

<div data-th-replace="/fragments/layout :: footerFragment"></div>

</body>
</html>