<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="fragments/layout :: headFragment(title=${title})"></head>
<body>

<div data-th-replace="fragments/layout :: navbarFragment"></div>

<div class="container" style="max-width: 1000px; min-height: 500px;">
    <div class="row">
        <div class="col" align="center">

            <h1>Добавьте фото</h1>

            <form data-th-action="@{/competitions/add-form}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="name"></label>
                        <input name="name" type="text" class="form-control" id="name"
                               placeholder="Введите название фото">
                </div>

                <div class="custom-file">
                    <input name="media" type="file" class="custom-file-input" id="media" required>
                    <label class="custom-file-label" for="media">Выберите файл...</label>
                </div>
                <button type="submit" class="btn" style="background-color: rgba(255, 0, 255, 1);">Вперед</button>

            </form>
        </div>
    </div>
</div>

<div data-th-replace="/fragments/layout :: footerFragment"></div>

</body>
</html>