<!doctype html>
<html lang="ru">
<head data-th-replace="fragments/layout :: headFragment(title=${title})"></head>
<body>

<div data-th-replace="fragments/layout :: navbarFragment"></div>

<div class="container body" style="min-height: 500px;">
    <div class="row">

        <div class="col-sm-9">
            <div class="mx-auto" style="max-width: 400px;">
                <h3 style="color: rgba(0, 123, 255, 1);">Контакты</h3>

                <p>Адрес офиса в городе Казань:</p>

                <p>ул. Баумана, д.1, оф. 1</p>

                <h5>Контактные телефоны:</h5>

                8 (843) 111-11-11

                <p>Отдел по работе с клиентами: 8 (843) 999-99-99</p>
                <p>Отдел продаж: 8 (843) 888-88-88</p>

            </div>
        </div>

        <div class="col-sm-3" style="background-color: rgba(150, 200, 0, 1); border-radius: 0.55rem 0.55rem 0.55rem 0.55rem">

            <div data-th-replace="/fragments/layout :: hotlineFragment"></div>

        </div>

    </div>
</div>

<div data-th-replace="/fragments/layout :: footerFragment"></div>

</body>
</html>