<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

<head data-th-replace="/fragments/layout :: headFragment(title=${title})"></head>

<body>

<div data-th-replace="/fragments/layout :: navbarFragment"></div>

<div class="container header">

    <h2 class="text-center">Сеть автозаправочных станций</h2>

</div>

<div class="container body"  style="min-height: 500px;">
    <div class="row">

        <div class="col-sm-9">

            <div data-th-replace="/fragments/layout :: carouselFragment"></div>

        </div>

        <div class="col-sm-3" style="background-color: rgba(150, 200, 0, 1); border-radius: 0.55rem 0.55rem 0.55rem 0.55rem">

            <div data-th-replace="/fragments/layout :: hotlineFragment"></div>

        </div>

    </div>
</div>

<div data-th-replace="/fragments/layout :: footerFragment"></div>

</body>
</html>