<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="fragments/layout :: headFragment(title=${title})"></head>
<body>

<div data-th-replace="fragments/layout :: navbarFragment"></div>

<div class="container body">
    <div class="row">

        <div class="col-sm-9" align="center">

            <h1 style="color: rgba(0, 123, 255, 1);">[[ ${note.getName()} ]]</h1>
            <p class="text-justify">[[ ${note.getContent()} ]]</p>
            <form data-th-action="@{/notes/{id}/remove(id = ${note.getId()})}" method="post">
                <button class="btn btn-danger">Удалить</button>
            </form>

        </div>

        <div class="col-sm-3"
             style="background-color: rgba(150, 200, 0, 1); border-radius: 0.55rem 0.55rem 0.55rem 0.55rem">

            <div data-th-replace="/fragments/layout :: hotlineFragment"></div>

        </div>

    </div>
</div>

<
<div data-th-replace="/fragments/layout :: footerFragment"></div>

</body>
</html>