<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="fragments/layout :: headFragment(title=${title})"></head>
<body>

<div data-th-replace="fragments/layout :: navbarFragment"></div>

<div class="w-container body">
    <div class="row">
        <div class="col" align="center">

            <h1>Добавить статью</h1>

            <form data-th-action="@{/notes/add}" method="post">
                <div class="form-group">
                    <label for="name">Название статьи</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="content">Статья</label>
                    <textarea name="content" class="form-control" id="content" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>

        </div>
    </div>
</div>

<div class="w-container footer">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">

                <p class="pt-1 pb-0 mb-2">
                    г. Казань, ул. Баумана, д.38
                    <br>
                    тел.: 8(843)111-11-11
                    <br>
                    &copy 2019
                </p>

            </nav>
        </div>
    </div>
</div>


</body>
</html>